:root {
    --bs-yellow: yellow;
    --bs-gray-dark: transparent;
}

/* Pagination */
.pagination {
    height: 35px !important;
    width: 350px !important;
    padding: 2px !important;
    background: var(--bs-gray-dark) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.pagination .page_ctrl {
    height: 90% !important;
    width: 30px !important;
    color: var(--bs-yellow) !important;
    border: 1px solid var(--bs-yellow) !important;
    background: transparent !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer !important;
    transition: .5s !important;
}

.pagination .page_ctrl:hover {
    transition: 0s !important;
    text-shadow: 0 0 1px #151515,
        0 0 5px var(--bs-yellow),
        0 0 7px var(--bs-yellow),
        0 0 10px var(--bs-yellow),
        0 0 15px var(--bs-yellow) !important;
}

.pagination .page_ctrl:active {
    transition: 0s;
    height: 86%;
    width: 30px;
}

.pagination .page_ctrl:disabled {
    height: 90%;
    width: 30px;
    text-shadow: none;
    border: 1px solid #7d6e0e;
    color: #7d6e0e;
    background: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

.pagination .page_ctrl.disable {
    height: 90%;
    width: 30px;
    text-shadow: none;
    border: 1px solid #7d6e0e;
    color: #7d6e0e;
    background: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

.pagination .pages .page_btn.disable {
    height: 100%;
    width: 30px;
    text-shadow: none;
    border: 1px solid #7d6e0e;
    color: #7d6e0e;
    background: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

.pagination .previous {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.pagination .next {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination .pages {
    height: 90%;
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
}

.pagination .pages .page_btn {
    height: 100%;
    width: 30px;
    border: 1px solid #ffc10751;
    color: #888;
    background: transparent;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.pagination .pages .page_btn.active {
    color: #f6f6f6;
    border: 1px solid var(--bs-yellow);
    text-shadow: 0 0 1px #151515,
        0 0 5px #ff0,
        0 0 7px #ff0,
        0 0 10px #ff0,
        0 0 15px #ff0;
}

.icon0421 {
    position: relative;
    height: 100px;
    width: 250px;
    background: #fefefe2a;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    border: 1px solid #f986;
    margin: 10px;
}

.icon0421 .icon0421p {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.icon0421 .icon0421p:hover {
    transition: 0s;
    background: transparent;
    border: 1px solid #ccff00;
}

.icon0421 .icon0421p:active {
    background: #ffffff33;
    border: 1px solid #ffffffcc;
}

.icon0421 .icon0422 {
    position: relative;
    height: 100%;
    width: 90px;
    border-radius: 8px;
}

.icon0421 .icon0422 .icon0423 {
    position: relative;
    height: 90px;
    width: 90px;
    border-radius: 8px;
    object-fit: contain;
    padding: 5px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
}

.icon0421 .icon0422 .icon0423p {
    position: absolute;
    height: 90px;
    width: 90px;
    top: 0;
    left: 0;
    z-index: 10;
}

.icon0421 .icon0422 .icon0423 img {
    height: 100%;
    width: 100%;
    user-select: none;
}

.icon0421 .icon0424 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
}

.icon0421 .icon0424 .icon0425 {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    color: #ccff00;
    user-select: none;
}

.mild {
    color: var(--mild-clr) !important;
}

.icon0421 .icon0424 .icon0426 {
    height: fit-content;
    width: fit-content;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 15px 15px;
    color: var(--mild-clr);
    border: 1px solid var(--mild-clr);
    user-select: none;
}
